.color-card {
  /* width: 30%; */
  width: 25vh;
  height: 25vh;
  border: 0;
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.nav-link.active {
  background-color: dimgray!important;
  color: ghostwhite!important;
}

.color-red {
  background-color: #FF0000;
}

.color-green {
  background-color: #00FF00;
}

.color-blue {
  background-color: #0000FF;
}

.color-yellow {
  background-color: #FFFF00;
}

.color-cyan {
  background-color: #00FFFF;
}

.color-magenta {
  background-color: #FF00FF;
}

.color-white {
  background-color: #FFFFFF;
}

.color-gray {
  background-color: #808080;
}

.color-black {
  background-color: #000000;
}

.pointer {
  cursor: pointer;
}

.content {
  width: 100%;
  height: 100%;
}

html, body {
  min-height:100%;
}

body {
  height:100vh;
}

.background {
  width: 100%;
  height: 100%;
}

.color-red-green-vertical {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,0,1) 100%);
}

.color-red-green-horizontal {
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,255,0,1) 100%);
}

.color-green-blue-vertical {
  background: linear-gradient(90deg, rgba(0,255,0,1) 0%, rgba(0,0,255,1) 100%);
}

.color-green-blue-horizontal {
  background: linear-gradient(0deg, rgba(0,255,0,1) 0%, rgba(0,0,255,1) 100%);
}

.color-blue-red-vertical {
  background: linear-gradient(90deg, rgba(0,0,255,1) 0%, rgba(255,0,0,1) 100%);
}

.color-blue-red-horizontal {
  background: linear-gradient(0deg, rgba(0,0,255,1) 0%, rgba(255,0,0,1) 100%);
}

.color-cyan-magenta-vertical {
  background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(255,0,255,1) 100%);
}

.color-cyan-magenta-horizontal {
  background: linear-gradient(0deg, rgba(0,255,255,1) 0%, rgba(255,0,255,1) 100%);
}

.color-magenta-yellow-vertical {
  background: linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(255,255,0,1) 100%);
}

.color-magenta-yellow-horizontal {
  background: linear-gradient(0deg, rgba(255,0,255,1) 0%, rgba(255,255,0,1) 100%);
}

.color-yellow-cyan-vertical {
  background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(0,255,255,1) 100%);
}

.color-yellow-cyan-horizontal {
  background: linear-gradient(0deg, rgba(255,255,0,1) 0%, rgba(0,255,255,1) 100%);
}

.color-red-blue-circle {
  background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(255,0,0,1) 100%);
}

.color-rainbow-vertical {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.color-rainbow-horizontal {
  background: linear-gradient(180deg, red,orange,yellow,green,blue,indigo,violet);
}

.color-white-black-vertical {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}

.color-white-black-horizontal {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}

.color-whites-vertical {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(170,170,170,1) 100%);
}

.color-blacks-vertical {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(85,85,85,1) 100%);
}

.color-grays-vertical {
  background: linear-gradient(90deg, rgba(85,85,85,1) 0%, rgba(170,170,170,1) 100%);
}

.color-grays-horizontal {
  background: linear-gradient(0deg, rgba(85,85,85,1) 0%, rgba(170,170,170,1) 100%);
}

.picture-card {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; 
  background-color: #777777;
}
